FLASK_ENV=production
SECRET_KEY=troque-esta-chave-por-uma-aleatoria

POSTGRES_USER=ecotech
POSTGRES_PASSWORD=ecotech
POSTGRES_DB=ecotech

DATABASE_URL=postgresql+psycopg://ecotech:ecotech@db:5432/ecotech
UPLOAD_DIR=/app/app/static/uploads
